.popup__name-field {
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 300px) {
  .popup__name-field {
    width: 238px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 960px) {
  .popup__name-field {
    width: 358px;
  }
}